@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.table td, .table th {
  word-break: break-word; /* wrap long words */
  white-space: normal;    /* allow wrapping */
}

.nav-link:hover {
  color: #FFD100 !important; /* Yellow accent on hover */
}

.btn-glow-blue {
  transition: box-shadow 0.3s ease, transform 0.2s ease !important;
  position: relative;
}

.btn-glow-blue:hover {
  box-shadow: 0 0 12px #0B3D91, 0 0 20px #0B3D91 !important;
  transform: translateY(-2px) !important;
  background-color: #0B3D91 !important;
  border-color: #0B3D91 !important;
}

.login-title {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}





